[user]
	email = jtrickel@navisite.com
	name = jtrickel
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	logo = log --pretty=oneline
	logp = log --pretty=format:'%h - %an - $ar : %s'
	logpc = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	loggc = log --oneline --abbrev-commit --all --graph --decorate --color
[color]
        ui = true
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[core]
	autocrlf = input
